@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$font-family: "Poppins", sans-serif;

$default-size: 1.2rem;
$result-size: 0.9rem;
$title-size: 2.5rem;

$regular: 400;
$bold: 700;

$bg-color: #acdeff;
$primary-color: #2877ca;
$secondary-color: #fff;
$terciary-color: #000;